@model WebApplication1.Models.News
@{
    ViewBag.Title = "Create";
}
<h2>Create</h2>


@using (Html.BeginForm("Create", "News", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>News</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.Title, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Title, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Title, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Body, htmlAttributes: new { @class = "control-label col-md-2"})
            <div class="col-md-10">
                @Html.TextAreaFor(model => model.Body, new { @class = "summernote" })
                @Html.ValidationMessageFor(model => model.Body, "", new { @class = "text-danger" })
            </div>
        </div>
        <!--div class="form-group">
            <label class="control-label col-md-2">Content</label>
            <div class="col-md-10 col-md-offset-2">
                <div id="summernote"></div>
                <p>
                    <button id="edit" class="btn btn-primary" onclick="$('#summernote').summernote({ focus: true });" type="button">Edit</button>
                    <button id="save" class="btn btn-primary" onclick="var aHTML = $('#summernote').code(); $('#Body').val(aHTML);$('#summernote').destroy();" type="button">Save</button>
                </p>
            </div>

        </div-->
        <div class="form-group">
            @Html.LabelFor(model => model.Image, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <input id="theFile" name="theFile" type="file" onchange="fileCheck(this)" />
                @Html.ValidationMessageFor(model => model.Image, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" onclick="var aHTML = $.trim($('#body').val()); $('#body').val(aHTML)" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
