@model PagedList.IPagedList<WebApplication1.Models.News>
@using PagedList;
@using PagedList.Mvc;
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />

@{
    ViewBag.Title = "Index";
}

<h2>Latest Postgraduate news</h2>

<p>
    @if (User.Identity.IsAuthenticated)
    {
        if (User.IsInRole("news-admin"))
        {
           @Html.ActionLink("Add News", "Create")
        }
    }
    @Html.Raw(ViewBag.Back)
</p>
@using (Html.BeginForm("","News",FormMethod.Post,new { @class ="form-inline"}))
{
    <div class="input-group">
        <span class="h4">Find by Heading&nbsp;&nbsp;</span>  @Html.TextBox("SearchString", null, new { @class = "input-sm"})
        &nbsp;&nbsp;
        <button class="btn" type="submit">Search</button>&nbsp;
        @Html.Raw(ViewBag.Clear)
    </div>
}
<p class="h4">@Html.Raw(ViewBag.SearchMessage)</p>
<div class="col-lg-8">

    @foreach (var item in Model)
    {
        <div class="panel panel-default">
            <div class="panel-heading">
                <p class="h4 text-center">
                    @Html.ActionLink(item.Title, "Details", new { id = item.ID, search = ViewBag.Search})<br />
                    <small class="text-center">Posted on @Html.DisplayFor(modelItem => item.ReleaseDate)</small>
                </p>
                
            </div>
            <div class="panel-body" style="max-height: 200px;overflow-y: hidden;overflow-wrap:break-word;">
                <div class="col-lg-4">
                    <img src="/News/RetrieveImage/@item.ID" alt="" height=200 width="200" />
                </div>
                <div class="col-lg-8">
                    @Html.Raw(item.Body)
                </div>
            </div>
          <div class="panel-footer">
            @if (User.Identity.IsAuthenticated)
            {
                if (User.IsInRole("news-admin"))
                {
                    @Html.ActionLink("Delete", "Delete", new { id = item.ID })
                }
            }
          </div>
        </div>
            
    }
            <div>
                <h1>@Html.Raw(ViewBag.Message)</h1>
            </div>

            <div>
                @Html.PagedListPager(Model, page => Url.Action("Index", new { page = page }))
            </div>
</div>